<!-- ejemplo de vista de sailsjs -->
<style>
	#divElement{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;
		width: 100px;
		height: 100px;
		background-color: #D3D3D3;
	}
</style>

<div id='divElement'>
  <table border="1" align="center">
   <tr height="100%">
    <td height="100%" width="100%" valign="middle" align="center">
      Contenido
    </td>
   </tr>
  </table>
</div>